#activity-card{
    padding:.2rem;
    padding-bottom:1rem;
    max-width: 40rem;
    min-width: 25rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    border: 3px solid rgb(201, 21, 201);
    text-align:center;
    
}

#add-activities{
    border:3px solid limegreen;
    padding-top: 2rem;
    background-color:rgb(201, 21, 201);
    border-radius: 7px;
    width:30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

 #activity-cardDeck{
    
    flex-wrap: wrap;
    flex-direction: row;
} 

#activities-title{
    text-align: center;
    color:limegreen;
    padding: 1rem;
}

.form-group{
    width:20rem;
    margin-right:25rem;
    margin-left:25rem;
}

.btn-primary {
    font-size: 1.5;
    width:20rem;
    background-color: limegreen;
    border-radius: 7px;
}
