#activity-card{
    padding:.2rem;
    margin-left: 20rem;
    margin-right:20rem;
    margin-bottom: 1rem;
    border: 3px solid rgb(201, 21, 201);
    text-align:center;
    
}

#add-activities{
    display: flex;
  min-width: 400px;
  max-width: 400px;
  flex-direction: column;
  font-size: 1rem;
  border: 1px solid #999;
  box-shadow: 5px 5px 10px 1px #999;
  border-radius: 7px;
  padding: 1rem;
  margin: 1rem;
  margin-left: 1rem;
  margin-bottom: 5rem;
  background-color: rgb(0, 0, 0, .3);
}

#activity-cardDeck{
    
    flex-wrap: wrap;
    flex-direction: row;
}

#activities-title{
    text-align: center;
    color:limegreen;
    padding: 1rem;
}

.form-group{
    width:20rem;
    margin-right:25rem;
    margin-left:25rem;
}
