@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

header {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  height:5rem;
  font-family: 'Balsamic Sans', sans-serif;
  font-size: 16px;
  background:blueviolet;
}

#logout-btn{
  padding: 8px 12px;
  border: 2px solid limegreen;
  border-radius: 4px;
  outline: none;
  background: black;
  box-shadow: 3px 3px 3px 1px limegreen;
  color: limegreen;
  font-weight: bold;
  font-size: 1em;
  position: absolute;
  right: 15px;
  top:15px;
}


.logo{
  padding-bottom: 9rem;
}


