
#login-form {
    border:3px solid limegreen;
    padding-top: 2rem;
    background-color:rgb(201, 21, 201);
    border-radius: 7px;
    width:30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#username{
    font-weight: 500;
}

#password{
    font-weight:500;
}

.btn-primary{
    color:limegreen;
    font-size: larger;
    font-weight: 550;
    background-color: rgb(201, 21, 201);
    border-color: rgb(201, 21, 201);
}