.mb-3{
    width:22rem;
    margin-left:25rem
}



#input-activity{
    width:22rem;
    margin-left:25rem;
}

#newRoutineTitle{
    text-align:center;
}

.btn-primary {
    padding:.5rem;
    width:20rem;
    margin-bottom:1rem;
}
