#myRoutines-card{
    padding:.2rem;
    max-width: 30rem;
    min-width: 20rem;
    padding:3rem; 
    margin-right: auto;
    margin-left: auto;
    border: 3px solid rgb(201, 21, 201);
    text-align:center;
        display: flex;
        min-width: 270px;
        max-width: 270px;
        min-height:32rem;
        background-color: #FFF;
        flex-direction: column;
        align-self: flex-end;
        font-size: 1rem;
        border: 1px solid #999;
        box-shadow: 5px 5px 10px 1px #999;
        border-radius: 7px;
        padding: 1rem;
        margin: 1rem;
        margin-left: 1rem;
        margin-bottom: 5rem;
}

#dropdown-button-dark-example1{
   min-width:20rem;
margin:.5rem;
}


#newRoutineTitle{
    text-align:center;
    padding: 1rem;
    color:limegreen;
}

.btn-primary {
    padding:.5rem;
    font-size: 1.5;
    width:20rem;
   
    margin-bottom:1rem;
    margin-top: .5rem;
    background-color: limegreen;
    border-radius: 7px;
}



#add-routines{
    border:3px solid limegreen;
    padding-top: 2rem;
    background-color:rgb(201, 21, 201);
    border-radius: 7px;
    width:30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.my-routine-card {
    margin-top: 1rem;
    max-height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    font-family: 'Marmelad', sans-serif;
    color: #333;
    padding: 2rem;
    margin-left: 2rem;
    margin-right: 5rem;
    overflow-x: scroll;
    margin-bottom: 5rem;
}

