#myRoutines-card{
    padding:.2rem;
    max-width: 40rem;
    min-width: 25rem;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid rgb(201, 21, 201);
    text-align:center;
}



#newRoutineTitle{
    text-align:center;
    padding: 1rem;
    color:limegreen;
}

.btn-primary {
    padding:.5rem;
    font-size: 1.5;
    width:20rem;
   
    margin-bottom:1rem;
    margin-top: .5rem;
    background-color: limegreen;
    border-radius: 7px;
}

#add-routines{
    border:3px solid limegreen;
    padding-top: 2rem;
    background-color:rgb(201, 21, 201);
    border-radius: 7px;
    width:30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}


