
  #navbar {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-family: 'Balsamic Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: 3px solid limegreen;
    padding:1rem;
    background-color: black;
    color:limegreen;
    margin-bottom:1.5rem;
   
    
  }

  a{
    margin-right:3rem;
    margin-left:3rem;
    color:limegreen;

  }

  
/* 
  .nav-theme {
    background-color: #101018f8;
    font-size: 20px;
  }
  
  .animate-navbar {
    box-shadow: 1px 1px 1px #222;
    animation: moveDown 0.5s ease-in-out;
  } */