
  #navbar {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-family: 'Balsamic Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-top: 3px solid limegreen;
    border-bottom: 2px solid limegreen;

    padding:1rem;
    background-color: black;
    color:limegreen;
    margin-bottom:1.5rem;
   
    
  }

  a{
  padding: 0px 25px;
  word-wrap: normal;
  display: inline-block;

  }
