

  #navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-family: 'Balsamic Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-top: 3px solid magenta;
    border-bottom: 3px solid magenta;
    padding:1rem;
    background-color: black;
  }

  a{
    padding: 0px 25px;
    word-wrap: normal;
    display: inline-block;
}



