.form-group{
    width:20rem;
    margin-right:25rem;
    margin-left:25rem;
}

#register-instructions {
    
    font-weight: bold;
    color:limegreen;
    text-align:center;
    padding-bottom: 1rem;
}

#username{
    font-weight: bold;
}

#password{
    font-weight: bold;
}

#register-form{
    border:3px solid limegreen;
    padding-top: 1rem;
    background-color:rgb(201, 21, 201);
    border-radius: 7px;
    width:25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.form-check-label {
    margin-bottom: 0;
    font-weight: bold;
}

body {
    background-color: black;
    background-image:url(../assets/backgroundImg/background1.jpg) ;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size:cover;
}