.form-group{
    width:20rem;
    margin-right:25rem;
    margin-left:25rem;
}

#register-instructions {
    padding:1rem;
    color:blue;
    text-align:center;
}

body {
    background-color: black;
}