#routine-card {
  display: flex;
  min-width: 270px;
  max-width: 270px;
  min-height:25rem;
  background-color: #FFF;
  flex-direction: column;
  align-self: flex-end;
  font-size: 1rem;
  border: 1px solid #999;
  box-shadow: 5px 5px 10px 1px #999;
  border-radius: 7px;
  padding: 1rem;
  margin: 1rem;
  margin-left: 1rem;
  margin-bottom: 5rem;
  padding:.2rem;
    max-width: 30rem;
    min-width: 20rem;
    
    border: 3px solid rgb(201, 21, 201);
    text-align:center;
}

#username{
  border: 3px solid rgb(201, 21, 201);
}

.card-text{
   color:blue 
}

#routine-title{
    text-align: center;
    color:limegreen;
    padding-top: 1rem;
}


#activity-routine-title{
    color:red;
}

#activity-name{
    color:hotpink;
}

.public-routines{
  margin-top: 5rem;
  max-height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  font-family: 'Marmelad', sans-serif;
  color: #333;
  padding: 2rem;
  margin-left: 2rem;
  margin-right: 5rem;
  overflow-x: scroll;
  margin-bottom: 5rem;
}

.card-body{
  padding-top: 0;
}
body {
  background-color: black;
}

