/* #routine-card {
  padding:.2rem;
  margin-top: 2rem;
  margin-bottom:1rem;
  margin-left:2rem;
  margin-right:2rem;
  border: 2px solid blue;
  text-align:center;
  display:flex;
  flex-wrap: wrap;
  justify-items: center;
   
}

#routine-card-title{
    color:red;
}
.card-text{
   color:blue 
}

#routine-title{
    text-align: center;
    color:blue;
}


#activity-routine-title{
    color:red;
}

#activity-name{
    color:hotpink;
} */



#creator-name{
  font-size: 1.3rem;
  font-weight: 600;
  hyphens:auto;
}

.focus {
    transition: transform 0.3s;
  }
  
  .focus:hover {
    transform: scale(1.05);
  }
  
  .card-title {
    font-size: 1.3rem;
    font-weight: 600;
    hyphens:auto;
  
  }
  
  .image-style {
    width: 3em;
  }
  
  .font-details {
    font-size: 3em;
    font-weight: 500;
    color: black;
  }
  
  .font-details-b {
    font-size: 3em;
    font-weight: 500;
    color: black;
  }