#routine-card {
  padding:.2rem;
  margin-top: 2rem;
  margin-bottom:1rem;
  margin-left:2rem;
  margin-right:2rem;
  border: 2px solid blue;
  text-align:center;
  display:flex;
  flex-wrap: wrap;
  justify-items: center;
   
}



.card-text{
   color:blue 
}

#routine-title{
    text-align: center;
    color:limegreen;
    padding-top: 1rem;
}


#activity-routine-title{
    color:red;
}

#activity-name{
    color:hotpink;
}

body {
  background-color: black;
}

